.nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-menu {
        display: none;
    }

    .nav-toggle {
        display: block;
    }
}

.about-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.about-title {
    color: #333;
    font-size: 2em;
}

.about-text {
    color: #666;
    line-height: 1.6;
    margin: 20px 0;
}

.about, .about-image {
    width: 100%;
    max-width: 100%;
}

.about-image {
   position: relative;
}

.about-container {
    position: absolute;

}